<a href="https://colab.research.google.com/github/LL4455/DATA-4-auditors_IAEMetz/blob/main/IAE_METZ_TP1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Introduction à Python

print('Hello World!')

Hello World!

# Simple Example

Nous allons voir les bases de Python ensemble

In [ ]:
# On va définir des varaibles
prenom='Matt' # est du texte c'est donc un STRING
salaire_de_stage=1711 # C'est un entier naturelle
salaire_net=1680.95 #FLOAT= chiffre à Virgule
height='1.80'

In [ ]:
print(f"Je m'appelle {prenom} et je gagnerai {salaire_de_stage} Euros")

Je m'appelle Matt et je gagnerai 1711 Euros

In [ ]:
# ARITHMETIC +++
debit1 = 157000
debit2=1711
credit = 157000

In [ ]:
debit1+debit2

158711

In [ ]:
debit1,debit2

(157000, 1711)

In [ ]:
a= debit1
b=debit2

In [ ]:
debit1,debit2
print(f"SUM: {debit1+debit2}, DELTA: {a-b}, Produit: {a*b}, Division: {a/b}")

SUM: 158711, DELTA: 155289, Produit: 268627000, Division: 91.75920514319111

In [ ]:
print(f"Divsion Integer : {a//b}")

Divsion Integer : 91

In [ ]:
# LIST ( et LISTE en Français)
Banks=["BDL","BGL","BNP","BIL"]
Banks[2]

'BNP'

In [ ]:
#DICTIONNAIRE
# Non- ordonné et PAIRES-CLE (Indexé de manière orthornmeé : 1,2,3 etc..)
Valorisation= {"nom": "Nike","actif":37, "passif": 34}

In [ ]:
print(f" La valorisation de {Valorisation['nom']} est d'un actif valorisé à {Valorisation['actif']} $ et d'un passif valorisé à {Valorisation['passif']} $ ")

 La valorisation de Nike est d'un actif valorisé à 37 $ et d'un passif valorisé à 34 $

In [ ]:
#Indexé en clé-Valeur quand c'est une clé obligé de nommer le dictionniare et la collone que je veux
print(f"La valorisation de {Valorisation['nom']}")

La valorisation de Nike

# Exemple pour les auditeurs
## Etude de cas pour l'audit

In [ ]:
# Cellule des variables
revenus = 100000
depenses=75000
taux_imposition_francais= 0.25
taux_imposition_luxembourgeois=0.17
taux_imposition_irelande=0.125

In [ ]:
# Cellule des calculs
benefice = revenus-depenses
impot_en_france = benefice* taux_imposition_francais
impot_au_lux= taux_imposition_luxembourgeois*benefice
impot_en_ire= taux_imposition_irelande*benefice
benefice_net_fr=benefice-impot_en_france

In [ ]:
print(benefice)

25000

In [ ]:
# Cellule des check/Prints
#[].[0] list
#{dictonnaire['nom de varaible']}
print("Impot à payer en France",taux_imposition_francais * benefice,"$")

Impot à payer en France 6750.0 $

In [ ]:
# Cellule des check/Prints
print("Impot à payer en France",impot_en_france ,"$")

Impot à payer en France 6750.0 $

In [ ]:
# comparaison entre ireland, luxembourg
print("On compare au Luxembourg",taux_imposition_luxembourgeois*benefice ,"euros", "vs en ireland", taux_imposition_irelande*benefice,"euros")

On compare au Luxembourg 4250.0 euros vs en ireland 3125.0 euros

# Structure de Contrôle

In [ ]:
# CONDITIONS (if,elif,else)
if benefice_net_fr>0:
  print("l'entreprise réalise un benefice net. Un bénéf de", benefice_net_fr,"euros")
elif benefice_net_fr==0:
  print("L'entreprise est à l'équilibre.")
else:
  print("L'entreprise réalise une perte nette.")

l'entreprise réalise un benefice net. Un bénéf de 18750.0 euros

#IMPORTATION DES BIBLIOTHEQUES
##Les packages se differencient en deux grandes catégorie
###1) Ceux "outils" , contenant des fonction
###2) Ceux de données "contenant des données/valeurs

In [ ]:
# Le package d'outils le plus répendu en python est PANDAS (il y a aussi polars)
import yfinance as yf

In [ ]:
#BLOCK : Importation des packages
import yfinance as yf
import pandas as pd
import matplotlib.pyplot as plt
# Dans les packages "outils" vous pouvez sous selectionner le chapitre

In [ ]:
#BLOCK : VARIABLES
#POUR UNE COMPARAISON D4INDICES SELON LES PAYS
france_symbol='EWQ' #iShares MSCI France ETF
ireland_symbol='EWK' #ishares MSCI Ireland ETF
luxembourg_symbol='SPY' #S&P 500 son ETF

In [ ]:
#BLOCK : TIME FRAME
start_date='2010-01-01'
end_date='2025-01-01'

In [ ]:
# Telerchargement des données historiques de Yfinace pour chaque pays
france_data=yf.download(france_symbol,start=start_date,end=end_date)
irelande_data=yf.download(ireland_symbol,start=start_date,end=end_date)
lux_data=yf.download(luxembourg_symbol,start=start_date,end=end_date)

YF.download() has changed argument auto_adjust default to True

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

In [ ]:
print(france_data)

Price           Close       High        Low       Open  Volume
Ticker            EWQ        EWQ        EWQ        EWQ     EWQ
Date
2010-01-04  17.787542  17.827409  17.641361  17.641361   97400
2010-01-05  17.741039  17.867285  17.674593  17.847353  164100
2010-01-06  17.834068  17.840713  17.687888  17.734400  117300
2010-01-07  17.754322  17.787546  17.634721  17.648009   87500
2010-01-08  18.000177  18.006822  17.760972  17.787551  155400
...               ...        ...        ...        ...     ...
2024-12-24  35.970001  36.009998  35.619999  35.730000  187100
2024-12-26  36.119999  36.200001  35.939999  35.959999  216600
2024-12-27  36.060001  36.139999  35.900002  35.959999  758900
2024-12-30  35.810001  35.910000  35.650002  35.900002  361400
2024-12-31  35.880001  36.169998  35.799999  36.169998  401800

[3774 rows x 5 columns]

In [ ]:
#BLOCK : ANALYSE DES DIAGRAME(EDA)
#IL y a des jours férié donc il y a des valeurs nulles
#France_data.isnull().sum()
#DATA_FRAME.FUNCTION_NAME

In [11]:
# Calcul des rdt quotidiens pour chacun des fonds
lux_return=lux_data.pct_change().dropna()
irelande_return=irelande_data.pct_change().dropna()
france_return=france_data.pct_change().dropna()

In [14]:
# BLOCK : GRAPHIQUE
#Presentation a des investisseurs des rdt via un DATAFRAME
print(lux_data.head())
print(irelande_data.head())
print(france_data.head())

Price           Close       High        Low       Open     Volume
Ticker            SPY        SPY        SPY        SPY        SPY
Date
2010-01-04  86.026451  86.071994  84.644927  85.297736  118944600
2010-01-05  86.254166  86.292122  85.662085  85.973310  111579900
2010-01-06  86.314888  86.527429  86.102347  86.170661  116074400
2010-01-07  86.679253  86.785523  85.912581  86.155486  131091100
2010-01-08  86.967705  87.005661  86.276946  86.451531  126402800
Price          Close      High       Low      Open  Volume
Ticker           EWK       EWK       EWK       EWK     EWK
Date
2010-01-04  8.644102  8.729105  8.572176  8.572176  329400
2010-01-05  8.748716  8.781410  8.683330  8.729101  451600
2010-01-06  8.801024  8.801024  8.689867  8.689867   71800
2010-01-07  8.742180  8.761796  8.696409  8.742180   46000
2010-01-08  8.781411  8.801027  8.696409  8.696409  391700
Price           Close       High        Low       Open  Volume
Ticker            EWQ        EWQ        EWQ        EWQ     EWQ
Date
2010-01-04  17.787542  17.827409  17.641361  17.641361   97400
2010-01-05  17.741039  17.867285  17.674593  17.847353  164100
2010-01-06  17.834068  17.840713  17.687888  17.734400  117300
2010-01-07  17.754322  17.787546  17.634721  17.648009   87500
2010-01-08  18.000177  18.006822  17.760972  17.787551  155400